.dashboard {
    display: flex;
    width: 80vw;
    height : 92vh;
    justify-content: center;
    align-items: center;
    background-color: $lightColour;
    box-sizing: border-box;
}

.display-space {

    width: 92%;
    background-color: $lightestColour;
    box-shadow: 2px 3px 3px $darkestColour;
    height: 92%;
    font-size: 110%;
    box-sizing: border-box;
    padding: 30px;

    a:link a:visited {

    }

    h2 {
        font-size: 130%;
    }

    .delete-link {

    }
}


.showpage-heading {
    padding-bottom: 12px;
}

.display-space h3 {
    font-color: $lightColour;
    font-size: 130%;
    padding-top: 20px;
    padding-bottom: 5px;
    }

.display-space li {
    padding-top: 5px;
}


.showpage-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.delete-link {
     margin-right: 5px
}
