
.login-form-container {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: flex-end;
    margin: 5vh 15vw 0px 0px;
}


.blurb{
    align-self: flex-start;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    color: $darkColour;
    font-size: 155%;
    font-weight: 600;
    margin-left: 15vw;
    margin-right: 22.5vw;
}


.slogan{
    font-size: 220%;
    margin-top: 5vh;
    margin-bottom: 5vh;
}


.login-form {
    display: flex;
    flex-direction: column;
    width: 30vw;
    max-width: 290px;
}


.login-form a:link, a:visited {
    color: $lightestColour;
    text-decoration: none;
}

.login-form a:hover {
    color: $mediumColour;
    text-decoration: underline;
}


.login-form-block {
    background-color: $lightestColour;
    // Why doesn't the border show up? //fixme
    border-width: 3px;
    border-color: $darkestColour;
    padding: 10px 2vw;
    border-radius: 15px;
    margin-top: 5vh;
}


.login-form-fields {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    height: 18vh;
    margin-bottom: 1vh;
    margin-top: 1vh;
}


.login-form-fields label {
    color: $darkestColour;
    font-family: $title-font-primary, $title-font-secondary;
    padding: 0px 0px 3px;
}


.login-input {
    border-radius: 5px;
    border-color: $darkColour;
    border-width: 1px;
}



.login-buttons {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;
}



.authbtn {
    font-weight: bold;
    font-size: 15px;
    font-family: $title-font-primary, $title-font-secondary;
    background-color: $mediumColour;
    text-align: center;
    color: $lightestColour;
    padding: 8px 10px 7px 10px;
    border-radius: 10px;
    border-style: solid;
    border-width: 2px;
    border-color: $darkestColour;
    text-decoration: none
}


.authbtn:hover { 
    background-color: $lightColour;
    color: $darkestColour;
    cursor: pointer;
}
