
.blurb{
    align-self: flex-start;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    color: $darkColour;
    font-size: 155%;
    font-weight: 600;
    margin-left: 10vw;
    margin-right: 10vw;
}


.slogan{
    font-size: 220%;
    margin-top: 5vh;
    margin-bottom: 5vh;
}

.login-form-container {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: flex-end;
    margin: 5vh 15vw 0px 0px;
}

.login-input {
    border-radius: 5px;
    border-color: $darkColour;
    border-width: 1px;
}

.login-form-fields {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    height: 18vh;
    margin-bottom: 1vh;
}

.login-form-field-label {
    font-size: 85%;
    color: red;
    font-family: $text-font-primary, $title-font-secondary;
}

h1, h2, h3  {
    color: $darkestColour;
    font-family: $text-font-primary, $title-font-secondary;
}

h1 {
    font-size: 215%;
}

h2  {
    font-size: 185%;
}
h3  {
    font-size: 100%;
}

.login-form-block {
    background-color: $lightestColour;
    // Why doesn't the border show up? //fixme
    border-width: 3px;
    border-color: $darkestColour;
    padding: 10px 2vw;
    border-radius: 15px;
    margin-top: 5vh;
}
.login-form {
    display: flex;
    flex-direction: column;
    width: 25vw;
    max-width: 250px;
}

.login-buttons {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    width: 15vw;
}

.authlinks {
    display: flex;
}



.authbtn {
    font: bold 15px $title-font-primary;
    background-color: $mediumColour;
    text-decoration: none;
    text-align: center;
    color: $lightColour;
    padding: 5px 10px 5px 10px;    
    border-radius: 10px;
    border-style: solid;
    border-width: 2px;
    border-color: $darkestColour;
}

.authbtn:hover { 
    background-color: $lightColour;
    color: $darkestColour;
    // border-colour: green;// $lightestColour; // why you no work? FixMe
}
