// Meyers reset
@import "./css_reset";


// Variable definitions
@import "./colours";
@import "./fonts";

@import "./login";
@import "./navbar";

// .gradient {
//     background-image: linear-gradient(to bottom left, #EEF4ED 0%, #8DA9C4 25%, #134074 50%, #13315C 75%, #0B2545 100%);
// }


// html, body, {
//     height: 100%;
//     width: 100%;
// }

.main-window {
//     height: 100%;
//     width: 100%;
    flex-grow: 10;
}


.app {
    display: flex;
    flex-direction: column;
    background-color: $darkColour;
    background-image: linear-gradient(to bottom right, $lightestColour 3%, $darkestColour 110%);
    height: 100vh;
}


h1, h2, h3  {
    color: $darkestColour;
    font-family: $title-font-primary, $title-font-secondary;
}

h1 {
    font-size: 215%;
}

h2  {
    font-size: 185%;
}
h3  {
    font-size: 100%;
}

