.nav-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: $lightestColour;
    height: 8%;
}

.authlinks {
    text-align: center;
    margin-top: 2vh;
    margin-bottom: 2vh;
    display: flex;
    flex-direction: flex-end;
    margin-right: 5vw;
}


.authlinks.authbtn {
    background-color: $darkestColour
}


.nav-bar h1 {
    margin-left: 5vw;
    margin-top: 2vh;
}

.welcome {
    display: flex;
    flex-direction: row;
    width: 40%;
    justify-content: space-between;
}

.welcome, .authlinks h3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
}
