
.teamlist {

    padding-bottom: 25px;
}

// Why this no work? QUESTION
.teamlist a:link a:visited {
    text-decoration: none;
    color: red;
}


.team-list-item a:link a:visited {
    text-decoration: none;
    color: red;
}


.team-listing-item a:link a:visited {
    text-decoration: none;
    color: red;
}
